@model geoluxe_defect_logging.Models.DefectTableDTO

<form class="form-horizontal" id="DefectInfoForm">
    <div class="panel panel-default col-md-12">
        <div class="panel-heading">Defect List</div>
        <div class="panel-body" ;">
            <div class="col-md-10">
                <table class="table table-hover table-responsive">
                    <thead style="font-size:smaller">
                        <tr>
                            <th>No.</th>
                            <th>Slab ID</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Location X</th>
                            <th>Location Y</th>
                            <th>Type</th>
                            <th>Type details</th>   
                            <th>Other details</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            var i =1;
                            foreach (var item in Model.QC_DefectListPreview)
                            {

                        <tr>
                            <td>
                                @i
                                @{ 
                                    i++;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SlabID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GetDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GetTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location_X)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location_Y)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BasedID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel panel-default col-md-2">

                <div class="panel-body" ;">
                    <div class="row">
                        <div action="" class="">
                            <label class="radio-inline">
                                <input type="radio" id="Status" name="Status" value=1> PM In
                            </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" id="Status" name="Status" value=2> PM Out
                            </label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" id="Status" name="Status" value=3> Reprocess
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
